* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

.backgroundGradient {
    background: repeating-linear-gradient(90deg, rgba(9, 5, 48, .85), rgba(49, 29, 94, .85) 100%);
}

.fa-bars {
    color: #fff;
    margin-right: 1rem;
    display: none;
}

.siteSection {
    padding: 65px 0;
}

.siteSection-header {
    padding-top: 15px;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader__logo,
.mainFooter__logo {
    width: 130px;
}

.mainNav {
    font-weight: bold;
}

.mainNav__items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mainNav__item {
    padding: 10px;
}

.mainNav__item a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    transition: color .3s;
}

.mainNav__item a:hover {
    color: #00e0d0;
}

.mainNav__item-active a {
    color: #00e0d0;
}

.sliderContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.sliderСontainer__img {
    width: 100%;
    position: relative;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.sliderContainer__background-filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(60, 37, 109, 0.7);
}

.sliderСontent {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 3;
}

.sliderСontent__title {
    font-size: 36px;
}

.sliderContent__line {
    size: 3px;
    width: 100px;
    color: white;
    margin: 15px auto;
}

.storyContent__button,
.sliderСontent__button {
    border: 2px solid #0cc2c4;
    border-radius: 3px;
    line-height: 300%;
    width: 110px;
    background: inherit;
    color: #0cc2c4;
    font-weight: 700;
}

.sliderСontent__button {
    margin: 15px;
}

.sliderСontent__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.storyContainer {
    padding: 3rem;
}

.storyContainer__logo {
    width: 20%;
    height: 100%;
    display: block;
}

.storyContainer__logo:hover {
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}

.storyContent__title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgb(60, 37, 109);
}

.storyContent__text {
    font-family: Arial, sans-serif;
    color: rgb(60, 37, 109);
}


.storyContent__button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.storyContent__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.town {
    height: 500px;
}

.expertiseContent {
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(60, 37, 109);
    z-index: 3;
    font-family: Arial, sans-serif;
}

.expertiseContent__title {
    margin-top: 50px;
    margin-bottom: 10px;
}

.expertiseContent__line {
    size: 3px;
    width: 100px;
    color: rgb(60, 37, 109);
    margin: 15px auto;
}

.blockOne {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockOne:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    background: linear-gradient(#10c0c4, #bd24ff);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 15px;
    font-size: 36px;
}

.blockOne__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockOne__text {
    font-size: 15px;
    margin: 30px 0 10px 10px;
    text-align: center;
}

.blockTwo {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockTwo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    background: linear-gradient(#10c0c4, #bd24ff);
    -webkit-background-clip: text;
    margin-top: 15px;
    font-size: 36px;
}

.blockTwo__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockTwo__text {
    font-size: 15px;
    text-align: center;
}

.blockThree {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockThree:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    margin-top: 15px;
    font-size: 36px;
}

.blockThree__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockThree__text {
    font-size: 15px;
    margin: 30px 0 10px 10px;
    text-align: center;
}

.blockFour {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockFour:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    margin-top: 15px;
    font-size: 36px;
}

.blockFour__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockFour__text {
    font-size: 15px;
    margin: 30px 0 10px 10px;
    text-align: center;
}

.blockFive {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockFive:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    margin-top: 15px;
    font-size: 36px;
}

.blockFive__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockFive__text {
    font-size: 15px;
    margin: 30px 0 10px 10px;
    text-align: center;
}

.blockSix {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(60, 37, 109, 0.3);
    color: rgb(60, 37, 109);
    background-color: white;
    padding: 5px;
    text-align: center;
}

.blockSix:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #ffffff;
    z-index: 10;
}

.fas {
    margin-top: 15px;
    font-size: 36px;
}

.blockSix__title {
    font-size: 15px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

.blockSix__text {
    font-size: 15px;
    margin: 30px 0 10px 10px;
    text-align: center;
}

.teamContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;
}

.teamСontainer__img {
    width: 100%;
    position: relative;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.teamContent {
    padding: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
}

.teamContent__title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
}

.teamContent__line {
    size: 3px;
    width: 100px;
    color: white;
    margin: 15px auto;
}

.teamContent__text {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.teamContent__button {
    border: 2px solid #0cc2c4;
    border-radius: 3px;
    line-height: 300%;
    width: 120px;
    background: inherit;
    color: #0cc2c4;
    font-weight: 700;
    margin-top: 15px;
}

.teamContent__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.personOne {
    display: inline-block;
    border: 1px solid white;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.personOne__img {
    width: 170px;
    height: 200px;
}

.personOne__name {
    font-weight: bold;
}

.personTwo {
    display: inline-block;
    border: 1px solid white;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.personTwo__img {
    width: 170px;
    height: 200px;
}

.personTwo__name {
    font-weight: bold;
}

.personThree {
    display: inline-block;
    border: 1px solid white;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.personThree__img {
    width: 170px;
    height: 200px;
}

.personThree__name {
    font-weight: bold;
}

.personFour {
    display: inline-block;
    border: 1px solid white;
    font-family: Arial, sans-serif;
    margin: 5px;
}

.personFour__img {
    width: 170px;
    height: 200px;
}

.personFour__name {
    font-weight: bold;
}

.worksContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    color: rgb(60, 37, 109);
    font-family: Arial, sans-serif;
}

.worksContent__title {
    font-weight: bold;
    font-size: 24px;
    margin: 50px 200px 50px 150px;
}

.worksContent__button {
    border: 2px solid rgb(60, 37, 109);
    border-radius: 3px;
    line-height: 300%;
    background: inherit;
    color: rgb(60, 37, 109);
    font-weight: 700;
    margin-right: 300px;
}

.worksContent__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.worksPhoto {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.worksPhoto__item {
    margin-bottom: 15px;
}

.worksPhoto__item img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.worksPhoto__button {
    border: 2px solid #0cc2c4;
    border-radius: 3px;
    line-height: 300%;
    width: 110px;
    background: inherit;
    color: #0cc2c4;
    font-weight: 700;
    margin-top: 5px;
}

.worksPhoto__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.staffContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 30px;
}

.staffContainer__img {
    width: 100%;
    height: 100%;
    position: relative;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.staffContainer__background-filter {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(60, 37, 109, 0.7);
}

.staffContent {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 3;
}

.staffContent__title {
    margin-top: 4rem;
    font-size: 55px;
}

.staffContent__text {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 10px 50px;
    text-align: center;
}

.staffContent__name {
    margin-top: 30px;
}

.staffContent__photos {
    margin: 30px auto 0;
    width: 30%;

}

.staffContent__photos--active img {
    width: 140%;
    margin-top: -6px;
}

.newsMassage {
    padding: 2rem;
    margin: 0 auto;
    width: 80%;
}

.massageLabel__one,
.massageLabel__two,
.massageLabel__three,
.massageLabel__four {
    width: 90%;
    padding: .5rem;
    margin-top: 1rem;
}

.massageLabel__four {
    height: 200px;
}

.massageLabel__button {
    border: 2px solid #0cc2c4;
    border-radius: 3px;
    line-height: 300%;
    width: 110px;
    background: inherit;
    color: #0cc2c4;
    font-weight: 700;
    margin-top: 5px;
}

.massageLabel__button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.footerBackground {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 30px;
}

.footerBackground__img {
    width: 100%;
    height: 85%;
    position: relative;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.footerBackground__background-filter {
    width: 100%;
    height: 85%;
    z-index: 1;
    position: absolute;
    background-color: rgba(60, 37, 109, 0.7);
}

.footerBackground__logo {
    position: absolute;
    width: 10%;
    bottom: 200px;
    left: 200px;
    background-size: cover;
    z-index: 2;
}

.footerBackground__text {
    position: absolute;
    bottom: 100px;
    left: 200px;
    background-size: cover;
    z-index: 2;
    font-family: Arial, sans-serif;
    color: #ffffff;
    max-width: 250px;
}

.footerRightpart {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: 4;
    left: auto;
    right: 0;
    padding-right: 350px;
    bottom: 80px;
    z-index: 2;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.mainFooter {
    padding: 3rem 1rem;
    color: white;
}

.mainFooter__subtitle {
    margin-bottom: 2rem;
    font-weight: 900;
}

.mainFooter__content {
    display: flex;
    justify-content: flex-start;
}

.mainFooter__content_padding-left {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.footerForm {
    display: flex;
    align-content: center;
}

.footerForm__search {
    width: 220px;
    margin-right: 1rem;
    background: none;
    border-color: rgba(255, 255, 255, .25);
    padding: 1rem;
}

.footerForm__bootom {
    padding: .3rem 1.2rem;
    color: black;
    background: rgba(255, 255, 255, .25);
    border: none;
}

.footer__icons {
    display: flex;
    margin-top: 1rem;
}

.footer__icon {
    border: 1px solid white;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 50px;
    color: white;
}

.footer__icon i {
    width: 100%;
}

.endFooter {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.endFooterMenu {
    width: 50%;
    display: flex;
}

.endFooterMenu__item {
    margin-right: 2rem;
    text-align: center;
}

.endFooterMenu__link {
    color: white;
    text-decoration: none;
    font-size: .9rem;
}

.endFooter__copyright {
    width: 50%;
    text-align: right;
    font-size: .9rem;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

@media (max-width: 1240px) {

}

@media screen and (max-width: 720px) {
    .mainHeader__logo {
        margin-left: 2rem;
    }

    .mainNav__items {
        background-color: rgba(200, 200, 200, 0.2);
        justify-content: center;
        flex-wrap: wrap;
    }

    .fa-bars {
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }

    .siteSection-contact__leftBlock {
        padding-top: 65px;
    }

    .siteSection-contact__form .siteSection-contact__Input,
    .siteSection-contact__textarea {
        width: 100%;
    }

    .mainFooter {
        padding: 1rem;
    }
}

.collapse {
    display: none;
}