body {
    width: 700px;
    margin: 0 auto;
}

.position {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-family: Arial, sans-serif;
}

b {
    color: black;
}

.main-block {
    padding: 30px;
    border: 1px solid gray;
}

.main-title-block {
    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap;
}

h1 {
    font-size: 48px;
    color: dodgerblue;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    text-decoration: underline;
    padding-bottom: 10px;
    text-shadow: 8px 8px 14px midnightblue;
}

.main-content {
    display: flex;
}

.img-phone {
    width: 200px;
    margin-right: 30px;
}

img {
    width: 80%;
    height: auto;
    padding: 0;
    margin-left: 30px;
}

.prodInfoBlock {
    font-family: Arial, sans-serif;
}

.text-title {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-shadow: 5px 5px 10px gray;
}

.text-row {
    list-style-type: none;
    margin-left: -40px;
}

.main-descr {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#text-description {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-shadow: 5px 5px 10px gray;
}

.text-information {
    list-style-type: none;
    margin-left: -40px;
}

.position-item2 {
    background: red;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 350px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    opacity: 0.4;
    box-shadow: 8px 8px 14px 1px black;
}

.margin-footer {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.position-item2:hover {
    background: gray;
    border-radius: 50%;
}

h1:hover {
    background: gray;
    opacity: 0.6;
}
